.autocomplete-dropdown-container {
    background-color: #fafafa;
    color: black;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1000;
    border-radius: 0 0 2px 2px;
}

.location-search-input,
.location-search-input:focus,
.location-search-input:active {
    display: block;
    width: 350px;
    font-size: 16px;
    outline: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    /* padding: 0; */
}

.suggestion-item {
    width: 500px;
    color: black;
}

.suggestion-item--active:hover {
    background-color: lightgrey;
    color: black;
    width: 500px;
}