.autocomplete-dropdown-container {
    background-color: #fafafa;
    color: black;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1000;
    border-radius: 0 0 2px 2px;
}

.location-search-input,
.location-search-input:focus,
.location-search-input:active {
    display: block;
    width: 350px;
    height: 27.5px;
    font-size: 16px;
    outline: none;
    margin-left: -5px;
    margin-right: 0;
    margin-top: 1px;
    border-radius: 2px;
    padding: 1px 2px;
}

.suggestion-item {
    width: 500px;
    color: black;
}

.suggestion-item--active:hover {
    background-color: lightgrey;
    color: black;
    width: 500px;
}