.event-color-bar {
    background-image: linear-gradient(to right,transparent, #0995b5, transparent);
}

.event-details-flex {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.event-details-container {
    border: 3px solid #0ba3c1;
    text-align: left;
    padding: 30px 0px;
    margin: 40px auto 30px auto;
    width: 1150px;
}

.event-details-container p {
    color: lightgrey;
    font-size: 20px;
}

.details-grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 60px;
}

.details-description {
    padding-bottom: 60px;
}

.details-description h2 {
    margin-left: 7px;
}

.details-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.details-grid2 h3 {
    font-size: 24px;
    color: #e7165f;
    font-family: 'Poppins';
}

.event-details-container a,
.event-details-container a:link,
.event-details-container a:visited {
    font-size: 20px;
    color: #0995b5;
    text-decoration: none;
}

.button-flex {
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 15px;;
    display: flex;
    justify-content: center;
}

.new-tab {
    width: 20px;
    height: 20px;
    margin-bottom: -2px;
}

.return-to-events {
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
}

.back,
.back:link,
.back:visited {
    font-size: 30px;
    color: #0995b5;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 250px;;
}