.event-card-container {
    width: 375px;
    margin: 30px 0px; 
}

.event-card-col {  
    width: 350px;
    justify-content: space-around;
    align-items: center;
}

.event-card {
    text-align: center;
    border-radius: 25px;
    height: 675px;
    color: #f7b402;
    background-color: black;
    box-shadow: -10px 7px 7px #f7b402;
}

.event-card-img-top {
    width: 343px;
    height: 343px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
    margin: 0px;
}

.event-card-title {
    font-size: 20px;
}
.event-card-locale {
    color: #e7165f;
    font-weight: bold;
}
.event-card-audience {
    color: #0ba3c1;
}
