.instructions {
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 0px;
}

.title-input,
.description-input {
    min-width: 100%;
    margin-left: -12px;
    margin-right: 0;
}

.title-row,
.description-row {
    margin: 0;
}

.react-datetime-picker,
.react-datetime-picker--closed,
.react-datetime-picker--enabled {
    margin-left: -4px;
}

.react-datetime-picker__wrapper {
    min-width: 360px;
    height: 31px;
    border-radius: 2px;
}

.react-datetime-picker__inputGroup { 
    max-width: 295px;
    margin-left: 0px;
    margin-right: 0px;
}

.react-datetime-picker__inputGroup__amPm {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.react-datetime-picker__button {
    margin: 0 1px;
}

.timezone-input {
    margin-left: 0px;
}

.map {
    margin-left: -6px;
}

.submit-btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Poppins';
    cursor: pointer;
}

.delete-btn {
    background-color: #0ba3c1;
}

.update-btn {
    width: 125px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    height: 30px;
    font-size: 16px;
    font-family: "Poppins";
}


/* .form-control-file {
    color: #f7b402;
} */

/* .form-check-inline {
    margin-left: 0px;
    margin-right: 0px;
} */

/* .form-check-inline .form-check-label {
    min-width: 90px;
} */

/* .form-check-label.audience {
    min-width: 200px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
} */

/* .form-check-label {
    margin-top: 0px !important;
} */

