.footer {
    margin-top: 100px;
    background-image: linear-gradient(to bottom, transparent, #181818);
    color: #f7b402;
    text-align: center;
    padding: 20px;
}

.footer h2 {
    display: inline;
}