.header-home {
    font-family: 'Abril Fatface';
    font-size: 120px;
    text-align: center;
}

.color-bar {
    background-image: linear-gradient(to right,transparent, #0995b5, transparent);
}

.home-flex {
    margin-top: 15px;;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.home-flex button {
    width: 400px;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: 35px;
    background-color: #181818;
    color: #e7165f;
    box-shadow: 0 0 0 0.2rem #f7b402;
}

.more-btn-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.more-btn-flex button {
    width: 400px;
    height: 80px;
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 35px;
    background-color: #181818;
    color: #e7165f;
    box-shadow: 0 0 0 0.2rem #f7b402;
    border-radius: 5px;
    font-family: 'Poppins';
    text-align: center;
}

.event-list-grid {
    display: inline-block;
    vertical-align: top;
    max-width: 400px; 
}