* {
    margin-left: 1%;
    margin-right: 1%;
}

body {
    padding-top: 100px;
    background-color: #181818;
    font-family: "Poppins"
}

h1 {
    font-family: "Abril Fatface";
    font-size: 120px;
}

h2 {
    font-family: "Abril Fatface";
    color: #f7b402;
}

h3 {
    font-family: "Poppins";
    color: #0995b5;
    font-size: 16px;
    padding-top: 10px;
}

li {
    list-style-type: none;
}

button {
    border-radius: 5px;
    border: none;
    margin: 5px;
}

label {
    color: #f7b402;
}

p {
    color: #f7b402;
}

legend {
    color: #f7b402;
}

.form-row,
.form-group,
.row {
    padding-top: 3rem;
}
