* {
    margin-left: 1%;
    margin-right: 1%;
}

body {
    padding-top: 60px;
    background-color: #181818;
    font-family: "Poppins"
}

h1 {
    font-family: "Abril Fatface";
    font-size: 120px;
}

h2 {
    font-family: "Abril Fatface";
    color: #f7b402;
}

h3 {
    font-family: "Poppins";
    color: #0995b5;
    font-size: 16px;
    /* padding-top: 10px; */
}

li {
    list-style-type: none;
}

button, .btn {
    border-radius: 5px;
    border: none;
    margin: 5px;
    height: 30px;
    font-size: 16px;
    font-family: "Poppins";
}

label {
    color: #f7b402;
    padding-left: 0px;
    margin-left: 0px;
}

p {
    color: #f7b402;
    margin-left: 0px;
}

legend {
    color: #f7b402;
}

.form-group,
.form-row {
    padding-top: 3rem;
    margin-left: 0px;
}

fieldset.form-group,
fieldset.form-row {
    margin-top: 40px;
    padding-top: 20px;
}
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding-bottom: 60px; */
}

/* .form-group.row {
    max-width: 1120px;
} */

/* .col {
    display: inline-block
} */

