.login-header h1{
    font-family: "Abril Fatface";
    font-size: 120px;
    text-align: center;
    color: #f7b402;
    margin: 0px;
}

.at {
    color: #e7165f;
}

.sub-heading{
    font-family: "Poppins";
    font-size: 20px;
    text-align: center;
    color: #f7b402;
    margin-bottom: 50px;
}

.login-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.text-input-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #181818;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top: #f7b402 solid 5px;
    border-right: #f7b402 solid 5px;
    border-left: #f7b402 solid 5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.tiny-text-container {
    display: flex;
    justify-content: space-around;
    background-color: #181818;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: #f7b402 solid 5px;
    border-left: #f7b402 solid 5px;
    border-bottom: #f7b402 solid 5px;
    padding: 20px;
    margin-bottom: 75px;
}

.login-btn {
    font-weight: bold;
}

.email {
    background-color: #FFFFFF;
}

.password {
    background-color: #FFFFFF;
}

.btn-container{
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 15px;;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.MuiInputLabel-root {
    overflow: visible;
}

@font-face {
    font-family: "Regular";
    src: local("DressCode-Regular"),
    url("../fonts/DressCode-Regular.ttf") format("truetype");
}

.tiny-text-container, .span {
    font-family: 'Regular';
    font-size: small;
    font-weight: bold;
    color:#f7b402;
}