.navbar {
    margin: 0px;
    background-image: linear-gradient(#181818 75%, transparent);
    color: #f7b402;
}

.at {
    color: #e7165f;
}

.navbar-brand {
    font-family: "Abril Fatface";
    font-size: 40px;
}

.btn-nav {
    background-color: #f7b402;
    color: black;
    border: none;
}

.dropdown-menu {
    padding: 10px;
}

.dropdown-item:active {
    background-color: #f7b402;
    color: black;
}