.attestation-flex {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attestation-flex .form-check {
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 10px;
    color: #0995b5;
}

.attestation-flex .btn {
    background-color: #0ba3c1;
    font-weight: bold;
    width: 90px;
    margin-bottom: 30px;
    cursor: pointer;
}

.attestation-flex span {
    color: #f7b402;
}

.user-form h1 {
    margin-bottom: 75px;
    color: #f7b402;
}

.user-form h2 {
    margin-top: 75px;
    margin-left: 0;
    color: #f7b402;
}

.user-form p {
    color: #0995b5;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.password-btn {
    margin-left: 0px !important;
    cursor: pointer;
}

.user-form section {
    padding-bottom: 20px;
}

.experience {
    background-color: black;
    outline: none;
    color: #f7b402;
}

.experience:hover {
    background-color: #f7b402;
    color: black;
}

.signup-btn {
    font-weight: bold;
    width: 150px;
    margin-left: 0;
    cursor: pointer;
}