.user-form h1 {
    margin-bottom: 75px;
    color: #f7b402;
}

.user-form h2 {
    margin-top: 75px;
    margin-left: 0;
    color: #f7b402;
}

.user-form .instructions {
    margin-top: 20px;
}

.user-formsection {
    margin: 10px;
}

.newUserForm button {
    margin: 10px;
}

.newEventForm.event-title {
    width: 10px;
}

.password-btn {
    margin-left: 0px !important;
    cursor: pointer;
}

.newUserForm p {
    color: #0ba3c1;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 22px;
}

.newUserForm section {
    padding-bottom: 20px;
}

.newEventForm.container {
justify-content: center;
}

.attestation-flex {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attestation-flex .form-check {
    margin-bottom: 20px;
    font-size: 20px;
}

.attestation .form-check-input{
    margin-top: 10px;
}

.attestation-flex .btn {
    background-color: #0ba3c1;
    font-weight: bold;
    width: 90px;
    margin-bottom: 30px;
    cursor: pointer;
}

.attestation-flex span {
    color: #f7b402;
}

.form-control-file {
    color: #f7b402;
}


.col.calendar,
.react-datetime-picker__wrapper {
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 0px;
    padding-left: 0px;
}

.react-datetime-picker__wrapper {
    min-width: 360px;
    max-height: 40px;
    border-radius: 5px;
}

.react-datetime-picker__inputGroup { 
    max-width: 290px;
    margin-left: 0px;
    margin-right: 0px;

}

.react-datetime-picker__inputGroup__amPm,
.react-datetime-picker__button {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.react-datetime-picker input,
.react-datetime-picker select,
.react-datetime-picker__inputGroup__leadingZero,
.react-datetime-picker__inputGroup__divider {
    /* color: #f7b402;
    font-size: 14px; */
}

.form-check-inline {
    margin-left: 0px;
    margin-right: 0px;
}

.form-check-inline .form-check-label {
    min-width: 90px;
}

.form-check-label.audience {
    min-width: 200px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.experience {
    background-color: black;
    outline: none;
    color: #f7b402;
}

.experience:hover {
    background-color: #f7b402;
    color: black;
}

.text-save {
    color: #e7165f;
    font-weight: bold;
}

.save {
    background-color: #e7165f;
    font-weight: bold;
}

.saved {
    background-color: #f7b402;
    font-weight: bold;
}

.saved-location {
    color: #0ba3c1;
}

input[type="file"] {
    display: none;
}

input {
    width: 350px;
    height: 25px;
    font-size: 16px;
    margin-left: -5px;
}

.custom-file-upload {
    display: block;
    background-color: #efefef;
    color: black;
    border-radius: 5px;
    padding: 3px 6px 0px 6px;
    cursor: pointer;
    height: 27px;
    margin-top: 1px;
    width: 120px;
    align-content: center;
}

.delete-btn {
    background-color: #0ba3c1;
}

.signup-btn {
    font-weight: bold;
    width: 150px;
    margin-left: 0;
    cursor: pointer;
}

.form-check-input {
    width: 20px;
    height: 15px;
}

.form-check-label {
    margin-top: 0px !important;
}

.update-btn {
    width: 125px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    height: 30px;
    font-size: 16px;
    font-family: "Poppins";
}
